fish/fish_history
fish/fish_variables
vim/bundle/*
vim/autoload
vim/colors
vim/plugged
vim/view
elinks/cookies
elinks/globhist
elinks/searchhist
elinks/gotohist
awb/*.cache
herrie/autosave.xspf
emacs/init.el~
emacs/config.el
emacs/elpa
emacs/eshell
emacs/transient
emacs/*.data
.emacs
.emacs~
nvim/plugged
nvim/view
emacs/\#*
\#*
*~ 
task/*.data
.dotfiles/.task/*.data
nvim/lazy-lock.json
.dotfiles/.config/nvim/lazy-lock.json
emacs/org-roam.db
.dotfiles/emacs/org-roam.db
.dotfiles/emacs/init.el~
.dotfiles/emacs/config.el
.dotfiles/emacs/elpa
.dotfiles/emacs/eshell
.dotfiles/emacs/transient
.dotfiles/emacs/*.data
.dotfiles/.emacs
.dotfiles/.emacs~
