fish/fish_history
vim/bundle/*
vim/autoload
vim/colors
vim/plugged
vim/view
elinks/cookies
elinks/globhist
elinks/searchhist
elinks/gotohist
awb/*.cache
herrie/autosave.xspf
emacs/init.el~
.emacs
.emacs~
nvim/plugged
nvim/view
