
!-- To reload changes: xrdb -merge ~/.Xresources and start a new rxvt-unicode

!-- Cursor
XCursor.Theme: ATER
!-- font
Emacs.FontBackend: xft
Emacs.font: inconsolata-16
!*xftAntialias: true
!*font.FontBackend: xft
!*font: inconsolata-16
*font: xft:inconsolata:pixelsize=20:antialias=true:hinting=true
*boldFont: xft:inconsolata:bold:pixelsize=20:antialias=true:hinting=true
*italicFont: xft:inconsolata:italic:pixelsize=20:antialias=true:hinting=true
*bolditalicFont: xft:inconsolata:bold:italic:pixelsize=20:antialias=true:hinting=true

!-- term behaviour
*saveLines:3600
*scrollBar: false
*depth: 16

!-- helps to not break urls in irssi
*cutchars: "\"()'*<>[]{|}"
!-- and launch them:
*perl-lib: /usr/lib/urxvt/perl
*perl-ext-common: default,matcher
*matcher.button: 1
*urlLauncher: /usr/bin/firefox

!-- transparency
!-- note: transparency is not good for the eyes and works against these main solarized colors
!-- note: keep that fading at 0, it is annoying (vim inactive colors become weird)
*fading: 0
*transparent: true
*shading: 36

*background:            #002b36
*foreground:            #eee8d5
*fadeColor:             #586e75
*cursorColor:           #93a1a1
*pointerColorBackground:#586e75
*pointerColorForeground:#93a1a1

!! black dark/light
*color0:                #073642
*color8:                #002b36

!! red dark/light
*color1:                #dc322f
*color9:                #cb4b16

!! green dark/light
*color2:                #859900
*color10:               #586e75

!! yellow dark/light
*color3:                #b58900
*color11:               #657b83

!! blue dark/light
*color4:                #268bd2
*color12:               #839496

!! magenta dark/light
*color5:                #d33682
*color13:               #6c71c4

!! cyan dark/light
*color6:                #2aa198
*color14:               #93a1a1

!! white dark/light
*color7:                #eee8d5
*color15:               #fdf6e3

!!-- colorscheme
!!--- dark solarized theme
!*foreground: #eee8d5
!*background: #073642
!!#002636
!!*tintColor: rgb:00/2b/36
!!*tintColor: rgb:33/33/33
!!*tintColor: white
!!*fadeColor: rgb:83/94/96
!
!!BLACK
!!*color0:               #359900
!!*color8:              #086e75
!!*color0:               #5e5845
!!*color8:              #6d6653
!*color0:               #002636
!*color8:               #073642
!!RED
!*color1:               #dc322f
!*color9:               #cb4b16
!!GREEN
!*color2:               #859900
!*color10:              #586e75
!!YELLOW
!*color3:               #b58900
!*color11:              #657b83
!!BLUE
!!*color4:               #268bd2
!!*color12:              #839496
!*color4:               #839496
!*color12:              #839496
!!MAGENTA
!*color5:               #d33682
!*color13:              #6c71c4
!!CYAN
!*color6:               #2aa198
!*color14:              #93a1a1
!!WHITE
!*color7:               #eee8d5
!*color15:              #fdf6e3


!!--- light solarized theme
!*foreground: #626262
!*background: #ffffd7
!!*tintColor: #ffffd7
!!*fadeColor: #ffffd7
!
!!BLACK
!*color0:                #ffffd7
!!#e4e4e4
!*color8:                #e4e4e4
!!RED
!*color1:                #d75f00
!*color9:                #d70000
!!GREEN
!*color2:                #585858
!*color10:               #5f8700
!!YELLOW
!*color3:                #626262
!*color11:               #af8700
!!BLUE
!*color4:                #808080
!*color12:               #0087ff
!!MAGENTA
!*color5:                #5f5faf
!*color13:               #af005f
!!CYAN
!*color6:                #8a8a8a
!*color14:               #00afaf
!!WHITE
!*color7:                #1c1c1c
!*color15:               #262626
!
!!!-- colorscheme
!!--- hacker theme
!*foreground: rgb:85/cc/00
!*background: rgb:00/2b/36
!!*tintColor: rgb:00/2b/36
!!*tintColor: rgb:33/33/33
!*tintColor: white
!!*fadeColor: rgb:83/94/96
!
!!BLACK
!*color0:               #002636
!*color8:               #073642
!!RED
!*color1:               #dc322f
!*color9:               #cb4b16
!!GREEN
!*color2:               #859900
!*color10:              #586e75
!!YELLOW
!*color3:               #b58900
!*color11:              #657b83
!!BLUE
!*color4:               #268bd2
!*color12:              #839496
!!MAGENTA
!*color5:               #d33682
!*color13:              #6c71c4
!!CYAN
!*color6:               #2aa198
!*color14:              #93a1a1
!!WHITE
!*color7:               #eee8d5
!*color15:              #fdf6e3

!!! Rofi config
rofi.location:          0
rofi.color-enabled:     true
!                       'background', 'border'
rofi.color-window:      argb:ff002b36, argb:ff39ff14
! State:                'bg',          'fg',   'bgalt',       'hlbg',        'hlfg'
rofi.color-normal:      argb:ff002b36, #009900, argb:ff002b36, argb:ff002b36, argb:ff39ff14
rofi.color-urgent:      argb:ff002b36, #ff0000, argb:ff002b36, argb:ff002b36, argb:ff39ff14
rofi.color-active:      argb:ff002b36, #009900, argb:ff002b36, argb:ff002b36, argb:ff39ff14
rofi.separator-style:   dash
rofi.fullscreen:        true
rofi.padding:           130
rofi.hide-scrollbar:    true
rofi.line-margin:       5
rofi.fake-transparency: false
rofi.yoffset:           0
rofi.xoffset:           0
rofi.width:             1440
rofi.opacity:           90
rofi.font:              Inconsolata 12
